
body {
  background-image: linear-gradient(white, white, white, lightpink);
}

#title {
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 300px;
}

#guided_tour {
  padding-top: 260px;
  padding-left: 70px;
  padding-right: 50px;
  padding-bottom: 300px;
}
