
#root {
  background-image: linear-gradient(white, pink);
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
}


body {
  background-image: linear-gradient(white, pink);
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#title {
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 300px;
}

#guided_tour {
  padding-top: 260px;
  padding-left: 70px;
  padding-right: 50px;
  padding-bottom: 300px;
}

#container {
  background-image: linear-gradient(white, floralwhite, floralwhite);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#calendarTitle {
  padding: 50px;
}


#calendar {
  /*padding: 30px;*/
  background-color: aqua;
  text-align: center;
  height: 100%;
  width: 100px;
  line-height: 50px;
}


#dateInput {
  height: 300px;
}

#button {
  background-color: red;
  color: white;
  transition-duration: 0.6s;
}

#button:hover {
  background-color: #B22222;
  color: white;
}

#inputButton {
  background-color: red;
  color: white;
  margin-bottom: 20px;
}

#inputButton:hover {
  background-color: #B22222;
  color: white;
}

#header {
  margin-bottom: 20px;
}

#content {
  margin: 0px 10px 10px 10px;
}

