
#root {
  background-image: linear-gradient(white, pink);
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
}


body {
  background-image: linear-gradient(white, pink);
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#title {
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 300px;
}

#guided_tour {
  padding-top: 260px;
  padding-left: 70px;
  padding-right: 50px;
  padding-bottom: 300px;
}

#container {
  background-image: linear-gradient(white, floralwhite, floralwhite);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#calendarTitle {
  padding: 50px;
}


#calendar {
  /*padding: 30px;*/
  background-color: aqua;
  text-align: center;
  height: 100%;
  width: 100px;
  line-height: 50px;
}


#dateInput {
  height: 300px;
}

#button {
  background-color: red;
  color: white;
  margin-left: 485px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#editbutton {
  background-color: red;
  color: white;
}

#inputButton {
  background-color: red;
  color: white;
  margin-bottom: 20px;
}

#bulletpoint1 {
  text-indent: 50px;
}

#bulletpoint2 {
  text-indent: 50px;
}

#bulletpoint3 {
  text-indent: 50px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}
